body {
  background-color: #f9f9f9;
}

.jumbotron {
  background: url("../assets/img/planets.jpg");
  background-size: cover;
}

.btn {
  background-color: #5e85bd;
}

.planetary-ages {
  li {
    list-style: none;
    span {
      font-size: 1.2em;
    }
  }
}
